.CheckBox {
    display: flex;
    text-align: center;
    height: 40px;
    min-width: 40px;
    cursor: pointer;
    border: 2px solid white;
    align-content: center;
    margin-right: 10px;
    justify-content: center;
}